body {
}
*{
    margin:0px;
    padding:0px;
}
#menu ul {
    list-style:none;align-content:center;
    margin-right:0px;
}
#menu ul li{
    background-color:white;
    border:solid 1px white;
    width:130px;
    height:35px;
    text-align:center;
    line-height:35px;
    float:right;
    position:relative;
    border-radius:0px;
 

}
#menu ul li a{
    text-decoration:none;
    color:black;
    display:block;
}
#menu ul li a:hover{
    background-color:deepskyblue;
    color:white;
    border-radius:0px;
}
#menu ul ul {
    position:absolute;
    display:none;
}
#menu ul li > ul li {
    background-color:white;
    color:white;
    border:solid 1px white;
    border-radius:0px;
}
#menu ul li:hover > ul {
    display:block;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height:inherit;
  background-color: darkblue;
  color: white;
  text-align: center;
}